<mat-sidenav-container class="container">

  <mat-sidenav mode="side" opened class="sidenav">
    <mat-list role="list">

      <button class="boto1" mat-flat-button>
        <span class="fas fa-desktop fa-lg"></span>
        Reports
      </button>

      <button class="boto2" mat-flat-button>
        <span class="far fa-clipboard fa-lg"></span>
        Sendungen
      </button>

      <button class="boto2" mat-flat-button>
        <span class="far fa-file-alt fa-lg"></span>
        Programs
      </button>


    </mat-list>
  </mat-sidenav>


</mat-sidenav-container>
