<header>

  <mat-toolbar color="primary">

    <span class="fill"></span>
    <button>
      <i class="fas fa-user-circle fa-2x"></i>
      <i class="fas fa-caret-down fa-sm"></i>
    </button>

  </mat-toolbar>

</header>

<div class="lateral-div">
 <app-lateral></app-lateral>
</div>

<div>

  <app-reports></app-reports>

</div>
<div class="sortby"><br>
   Sort by: Programm
  <i class="fas fa-arrow-down"></i>
  <span class="right-icons"><i class="fas fa-sliders-h fa-lg"></i></span>
</div>
<div class="table">
<app-data-table></app-data-table>
</div>
